<table>

  <tbody>
    <% @small_concerts.each do |small_concert| %>
      <tr>
        <td><a href='/admin/small_concert_bands/?year=<%= small_concert.year %>&month=<%= small_concert.month %>'><%= small_concert.year %>年<%= small_concert.month %>月</a></td>
        <td>
          <%if small_concert.can_edit %>
            編集受付中
          <% else %>
            締め切り済
          <%end%>
        </td>
        <td><%= link_to '編集', edit_small_concert_path(small_concert) %></td>
        <td><%= link_to '削除', small_concert, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Small concert', new_small_concert_path %>
