<table class="concert-manage-table">

  <tbody>
    <% @small_concerts.each do |small_concert| %>
      <tr>
        <td><a href='/admin/small_concert_bands/?year=<%= small_concert.year %>&month=<%= small_concert.month %>'><%= small_concert.year %>年<%= small_concert.month %>月</a></td>
        <td>
          <%if small_concert.can_edit %>
            編集受付中
          <% else %>
            締め切り済
          <%end%>
        </td>
        <td><a href="/admin/small_concerts/<%=small_concert.id%>/edit">編集</a></td>
        <td><a data-confirm="本当に削除しますか?" data-method="delete" href="/admin/small_concerts/<%=small_concert.id%>" rel="nofollow">削除</a></td>
      </tr>
    <% end %>
  </tbody>
</table>