<%= javascript_include_tag "accordion" %>
<div id="accordion" class="accordion">
  <% @big_concert_bands.each do |big_concert_band| %>
    <h3><%= big_concert_band.name %></h3>
    <dl>
      <dt>リーダー：<%= big_concert_band.leader %></dt>
      <dt>Vo:<%= big_concert_band.vo %></dt>
      <dt>Gt1：<%= big_concert_band.gt1 %></dt>
      <dt>Gt2：<%= big_concert_band.gt2 %></dt>
      <dt>Ba:<%= big_concert_band.ba %></dt>
      <dt>Dr：<%= big_concert_band.dr %></dt>
      <dt>Key：<%= big_concert_band.key %></dt>
      <dt>
        1日目:
        <% if big_concert_band.day1 %>
          ◯
        <% else %>
          ☓
        <% end %>
        2日目:
        <% if big_concert_band.day2 %>
          ◯
        <% else %>
          ☓
        <% end %>
        3日目:
        <% if big_concert_band.day3 %>
          ◯
        <% else %>
          ☓
        <% end %>
        4日目:
        <% if big_concert_band.day4 %>
          ◯
        <% else %>
          ☓
        <% end %>
      </dt>
      <dt>備考:<%= big_concert_band.description %></dt>
      <dt><%= link_to '編集', edit_big_concert_band_path(big_concert_band) %></dt>
    </dl>
  <% end %>
</div>
