<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @small_concert.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @small_concert.month %>
</p>

<p>
  <strong>Can edit:</strong>
  <%= @small_concert.can_edit %>
</p>

<%= link_to 'Edit', edit_small_concert_path(@small_concert) %> |
<%= link_to 'Back', small_concerts_path %>
