<h1>Listing small_concert_bands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Song</th>
      <th>Leader</th>
      <th>Vo</th>
      <th>Gt1</th>
      <th>Gt2</th>
      <th>Ba</th>
      <th>Dr</th>
      <th>Key</th>
      <th>Week1</th>
      <th>Week2</th>
      <th>Description</th>
      <th>Year</th>
      <th>Month</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @small_concert_bands.each do |small_concert_band| %>
      <tr>
        <td><%= small_concert_band.name %></td>
        <td><%= small_concert_band.song %></td>
        <td><%= small_concert_band.leader %></td>
        <td><%= small_concert_band.vo %></td>
        <td><%= small_concert_band.gt1 %></td>
        <td><%= small_concert_band.gt2 %></td>
        <td><%= small_concert_band.ba %></td>
        <td><%= small_concert_band.dr %></td>
        <td><%= small_concert_band.key %></td>
        <td><%= small_concert_band.week1 %></td>
        <td><%= small_concert_band.week2 %></td>
        <td><%= small_concert_band.description %></td>
        <td><%= small_concert_band.year %></td>
        <td><%= small_concert_band.month %></td>
        <td><%= link_to '編集', edit_small_concert_band_path(small_concert_band) %></td>
        <td><%= link_to '削除', small_concert_band, method: :delete, data: { confirm: 'ほんとに?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
