<table class="concert-manage-table">
  <tbody>
    <% @big_concerts.each do |big_concert| %>
      <tr>
        <td><a href="/admin/big_concert_bands?year=<%= big_concert.year%>&season=<%=big_concert.season %>"><%= big_concert.year %>年<%= season_string(big_concert.season) %></a></td>
        <td>
          <%if big_concert.can_edit %>
            編集受付中
          <% else %>
            締め切り済
          <%end%>
        </td>
        <td><a href="/admin/big_concerts/<%=big_concert.id%>/edit">編集</a></td>
        <td><a data-confirm="本当に?" data-method="delete" href="/admin/big_concerts/<%=big_concert.id%>" rel="nofollow">削除</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
