<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @big_concert.year %>
</p>

<p>
  <strong>Season:</strong>
  <%= @big_concert.season %>
</p>

<p>
  <strong>Can edit:</strong>
  <%= @big_concert.can_edit %>
</p>

<%= link_to 'Edit', edit_big_concert_path(@big_concert) %> |
<%= link_to 'Back', big_concerts_path %>
