<div class="form">
  <%= form_for(@small_concert_band) do |f| %>
    <% if @small_concert_band.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@small_concert_band.errors.count, "error") %> prohibited this small_concert_band from being saved:</p>

        <ul>
        <% @small_concert_band.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field">
      <input id="band_name" name="small_concert_band[name]" type="text">
      <label for="band_name">バンド名</label>
    </div>
    <div class="input-field">
      <input id="band_song" name="small_concert_band[song]" type="text">
      <label for="band_song">曲名</label>
    </div>
    <div class="input-field">
      <input id="band_leader" name="small_concert_band[leader]" type="text" value=<%= @current_user.name %>>
      <label for="band_leader" class="active">リーダー</label>
    </div>
    <div class="input-field">
      <input id="vo" name="small_concert_band[vo]" type="text">
      <label for="vo">Vo</label>
    </div>
    <div class="input-field">
      <input id="gt1" name="small_concert_band[gt1]" type="text">
      <label for="gt1">Gt1</label>
    </div>
    <div class="input-field">
      <input id="gt2" name="small_concert_band[gt2]" type="text">
      <label for="gt2">Gt2</label>
    </div>
    <div class="input-field">
      <input id="ba" name="small_concert_band[ba]" type="text">
      <label for="ba">Ba</label>
    </div>
    <div class="input-field">
      <input id="dr" name="small_concert_band[dr]" type="text">
      <label for="dr">Dr</label>
    </div>
    <div class="input-field">
      <input id="key" name="small_concert_band[key]" type="text">
      <label for="key">Key</label>
    </div>
    <div class="field check">
      <%= f.check_box :week1 %>
      <label for="small_concert_band_week1">1週目</label>
    </div>
    <div class="field check">
      <%= f.check_box :week2 %>
      <label for="small_concert_band_week2">2周目</label>
    </div>
    <div class="clear-both"></div>
    <div class="input-field">
      <label>備考</label><br>
      <textarea class="materialize-textarea" name="small_concert_band[description]"></textarea>
    </div>
    <div class="actions">
      <input class="btn" name="commit" type="submit" value="申請">
    </div>
  <% end %>
</div>
