<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @small_concert_band.name %>
</p>

<p>
  <strong>Song:</strong>
  <%= @small_concert_band.song %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @small_concert_band.leader %>
</p>

<p>
  <strong>Vo:</strong>
  <%= @small_concert_band.vo %>
</p>

<p>
  <strong>Gt1:</strong>
  <%= @small_concert_band.gt1 %>
</p>

<p>
  <strong>Gt2:</strong>
  <%= @small_concert_band.gt2 %>
</p>

<p>
  <strong>Ba:</strong>
  <%= @small_concert_band.ba %>
</p>

<p>
  <strong>Dr:</strong>
  <%= @small_concert_band.dr %>
</p>

<p>
  <strong>Key:</strong>
  <%= @small_concert_band.key %>
</p>

<p>
  <strong>Week1:</strong>
  <%= @small_concert_band.week1 %>
</p>

<p>
  <strong>Week2:</strong>
  <%= @small_concert_band.week2 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @small_concert_band.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @small_concert_band.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @small_concert_band.month %>
</p>

<%= link_to 'Edit', edit_small_concert_band_path(@small_concert_band) %> |
<%= link_to 'Back', small_concert_bands_path %>
