<%= form_for(@big_concert_band) do |f| %>
  <% if @big_concert_band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@big_concert_band.errors.count, "error") %> prohibited this big_concert_band from being saved:</h2>

      <ul>
      <% @big_concert_band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input name="big_concert_band[name]" type="text" placeholder="バンド名">
  </div>
  <div class="field">
    <input name="big_concert_band[leader]" type="text" placeholder="リーダー">
  </div>
  <div class="field">
    <input name="big_concert_band[vo]" type="text" placeholder="Vo">
  </div>
  <div class="field">
    <input name="big_concert_band[gt1]" type="text" placeholder="Gt1">
  </div>
  <div class="field">
    <input name="big_concert_band[gt2]" type="text" placeholder="Gt2">
  </div>
  <div class="field">
    <input name="big_concert_band[ba]" type="text" placeholder="Ba">
  </div>
  <div class="field">
    <input name="big_concert_band[dr]" type="text" placeholder="Dr">
  </div>
  <div class="field">
    <input name="big_concert_band[key]" type="text" placeholder="Key">
  </div>
  <div class="field check">
    <label>1日目</label>
    <%= f.check_box :day1 %>
  </div>
  <div class="field check">
    <label>2日目</label>
    <%= f.check_box :day2 %>
  </div>
  <div class="field check">
    <label>3日目</label>
    <%= f.check_box :day3 %>
  </div>
  <div class="field check">
    <label>4日目</label>
    <%= f.check_box :day4 %>
  </div>
  <div class="field">
    <label>備考</label><br>
    <textarea name="big_concert_band[description]"></textarea>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="申請">
  </div>
<% end %>
